
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p {
    text-align: justify;
  text-justify: inter-word;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #FFF;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2 );
}

.profileText .imageBox {
    position: relative;
    width: 175px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imageBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #FFF;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600px;
}

.contactInfo {
    padding-top: 40px;
}

.linkedinText{
    font-size: .75em;
}

.title {
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.contactInfo ul {
    position: relative;

}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.text {
    color: #fff;
    font-weight: 400;
}

.education li {
    margin-bottom: 15px;
}

.date {
    color: #03a9f4;
    font-weight: 500;
}

.school {
    font-weight: 200;
}


.container .right_side {
    position: relative;
    background: #FFF;
    padding: 40px;
}

.languages ul{
    position: relative;
}

.languages ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.languages .Language {
    color: #FFF;
    font-weight: 400;
}

.percent  {
    position: relative;
    width: 100%;
    height: 6px;
    background: #FFF;
    display: block;
    margin-top: 5px;
}

/* right side */

section {
    margin-bottom: 2em;
}

.about:last-child {
    margin-bottom: 0px;
}

.about__title {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

/* Experience */

.date_company {
    display: flex;
    justify-content: space-between;
    padding: 1.25em 0;
    font-weight: 600;
    color: #848c90;
    font-size: 1.25em;
}

.experience .box {
   display: flex;
   flex-direction: row;
   margin: 20px 0;
}

/* skills */

.skills__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
      margin-bottom: 20px;
        
}

.skills_subtitle {
    color: #929597ec;
    margin-bottom: 10px;
}


